<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/duplicate-img.css">
    <script defer src="../js/duplicate-img.js"></script>
    <title>Mirror Image</title>
</head>
<body>
    <button id="back-btn">< Home</button>
    <div class="toggle-container">
        <span class="toggle-text">Single View</span>
        <label class="switch">
            <input type="checkbox" id="toggle-checkbox">
            <span class="slider round"></span>
        </label>
    </div>    
    <div class="container">
        <section class="main-content">
            <h3 class="num-dups"></h3>
            <div class="dups-content">
                <div class="dup-cards"></div>
                <div class="img-content">
                    <div class="img-details"></div>
                    <div class="button-container">              
                        <button id="next-img-btn" style="display: none;">Next Image ➤</button>
                        <button id="finish-btn" style="display: none;">Finish ➤</button>
                    </div>
                </div>
            </div>
            <div class="list-view" style="display: none;">
                <div class="detail-list"></div>
                <div class="dups-content-list">
                    <div class="img-details-list"></div>
                    <div class="button-container">              
                        <button id="finish-btn-list">Finish ➤</button>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div id="deleteModal" class="modal">
        <div class="modal-content">
            <p style="font-size: large; font-weight: bold; padding-bottom: 1rem;">Are you sure you want to delete this image?</p>
            <button id="confirmDelete" class="btn btn-confirm">Yes</button>
            <button id="cancelDelete" class="btn btn-cancel">No</button>
        </div>
    </div>
</body>
</html>
