<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/duplicate-img.css">
    <script defer src="../js/duplicate-img.js"></script>
    <title>Mirror Image (DUPS)</title>
</head>
<body>
    <button id="back-btn">< Home</button>
    <div class="toggle-container">
        <span class="toggle-text">Toggle View</span>
        <label class="switch">
            <input type="checkbox" id="toggle-checkbox">
            <span class="slider round"></span>
        </label>
    </div>    
    <div class="container">
        <section class="main-content">
            <h3 class="num-dups"></h3>
            <div class="dup-cards"></div>
            <div class="button-container">              
                <button id="next-img-btn" style="display: none;">Next Image ></button>
                <button id="finish-btn" style="display: none;">Finish ></button>
            </div>
        </section>
    </div>
</body>
</html>
