* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    max-width: 600px;
    width: 100%;
    padding: 20px;
}

.main-content {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

#back-btn {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
    border: 2px solid #000;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

#next-img-btn, #finish-btn {
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #000;
    transition: background-color 0.3s ease, border 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

#next-img-btn:hover, #finish-btn:hover {
    background-color: #0056b3;
    color: white;
    border: 2px solid #0056b3;
}

h2 {
    color: #333;
    font-size: 28px;
    margin: 15px 0;
}

p {
    color: #666;
    font-size: 16px;
    margin: 20px 0;
}

.dup-cards {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.dup-card {
    width: 100%;
    border-radius: 15px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding: 10px;
    margin-bottom: 10px;
    word-wrap: break-word;
}

.img-paths {
    font-size: small;
    cursor: pointer;
    color: #0056b3;
    text-decoration: underline;
    width: 100%;
    word-wrap: break-word; /* Ensure long words break and wrap to the next line */
    white-space: normal;
}

.img-thumbnail {
    max-width: 150px;
    max-height: 100px;
    width: auto;
    height: auto;
    object-fit: contain;
    cursor: pointer;
    border: 2px black solid;
}

/* toggle button styling */
.toggle-container {
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: flex;
    align-items: center;
}

.toggle-text {
    margin-right: 1rem;
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 19px;
    width: 19px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    transform: translateX(23px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
