* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    max-width: 600px;
    width: 100%;
    padding: 20px;
}

.main-content {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

#back-btn {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
    border: 2px solid #000;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

#next-img-btn, #finish-btn {
    padding: 5px;
    border-radius: 15px;
    border: 2px solid #000;
    cursor: pointer;
}

h2 {
    color: #333;
    font-size: 28px;
    margin: 15px 0;
}

p {
    color: #666;
    font-size: 16px;
    margin: 20px 0;
}

.dup-cards {
    gap: 20px;
}

.dup-card {
    width: 80%;
    border-radius: 15px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding: 10px;
    margin-bottom: 10px;
}

.img-paths {
    font-size: small;
    cursor: pointer;
    color: #0056b3;
    text-decoration: underline;
}

.view-button {
    padding: 10px 18px;
    margin-bottom: 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.view-button:hover {
    background-color: #0056b3;
}
